{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tools.css') }}">
{% endblock %}

{% block sidebar %}
<div class="sidebar">
    <h3>Tools</h3>
    <a href="/tools/tool1" class="{% if active_page == 'tool1' %}active{% endif %}">PDF Combiner</a>
    <a href="/tools/tool2" class="{% if active_page == 'tool2' %}active{% endif %}">BG Remover</a>
    <a href="/tools/tool3" class="{% if active_page == 'tool3' %}active{% endif %}">Reduce Quality</a>
</div>
{% endblock %}
