{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/models.css') }}">
{% endblock %}

{% block sidebar %}
<div class="sidebar">
    <h3 class = "">Models</h3>
    <a href="/models/sentimentanalysis1" class="{% if active_page == 'model1' %}active{% endif %}">Sentiment 1</a>
    <a href="/models/sentimentanalysis2" class="{% if active_page == 'model2' %}active{% endif %}">Sentiment 2</a>
    <a href="/models/objectdetection1" class="{% if active_page == 'model3' %}active{% endif %}">Object Detection 1</a>
    <a href="/models/objectdetection2" class="{% if active_page == 'model4' %}active{% endif %}">Object Detection 2</a>
    <a href="/models/objectdetection3" class="{% if active_page == 'model5' %}active{% endif %}">Object Detection 3</a>
    <a href="/models/objectdetection4" class="{% if active_page == 'model6' %}active{% endif %}">Object Detection 4</a>
    <a href="/models/objectdetection5" class="{% if active_page == 'model7' %}active{% endif %}">Object Detection 5</a>
    <a href="/models/objectdetection6" class="{% if active_page == 'model8' %}active{% endif %}">Object Detection 6</a>
    <a href="/models/insightface1" class="{% if active_page == 'model9' %}active{% endif %}">InsightFace 1</a>
    <a href="/models/insightface2" class="{% if active_page == 'model10' %}active{% endif %}">InsightFace 2</a>
    <a href="/models/insightface3" class="{% if active_page == 'model11' %}active{% endif %}">InsightFace 3</a>
    <a href="/models/insightface4" class="{% if active_page == 'model12' %}active{% endif %}">InsightFace 4</a>
    <a href="/models/insightface5" class="{% if active_page == 'model13' %}active{% endif %}">InsightFace 5</a>
</div>
{% endblock %}
